# Kontrola wersji
.git
.gitignore

# Środowiska wirtualne
.venv
venv
env

# Cache Pythona
__pycache__
*.pyc
*.pyo

# Testy i narzędzia deweloperskie
tests/
.pytest_cache
.mypy_cache
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Docker
Dockerfile
compose.yaml
.dockerignore

# Dokumentacja
*.md
docs/

# Zmienne środowiskowe (NIGDY nie kopiuj do obrazu!)
.env
.env.local
